
<!DOCTYPE html>
<html>
<head>
    <title>Pytanie testowe</title>
    <link rel='stylesheet' href='/static/style.css'>
</head>
<body>
    <h1>Pytanie testowe</h1>
    <p>{{ question.question }}</p>
    <form method="post" action="/test/submit/">
        {% csrf_token %}
        {% for key, option in question.options.items %}
        <label>
            <input type="radio" name="option" value="{{ key }}" required> {{ option }}
        </label><br>
        {% endfor %}
        <button type="submit">Zatwierdü odpowiedü</button>
    </form>
</body>
</html>
