<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Witamy w aplikacji dydaktycznej</h1>
    </header>

    <main>
        <p>Aplikacja dydaktyczna: Zasady detekcji bezpośredniej i koherentnej</p>
        <p>Wybierz poniżej, aby rozpocząć:</p>
        <div class="buttons">
            <a href="/menu" class="button">Przejdź do menu</a>
        </div>
    </main>

    <footer>
        <p>Autorzy: Kamil Jankowski, Filip Grządziel</p>
    </footer>
</body>
</html>
